<!-- ======= Testimonials ======= -->
<div class="testimonials container">

    <div class="section-title">
    <h2>Testimonials</h2>
    </div>

    <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
    <div class="swiper-wrapper">
        <swiper
            [slidesPerView]="1"
            [spaceBetween]="50"
            (swiper)="onSwiper($event)"
            (slideChange)="onSlideChange()"
            [navigation]="false"
            [pagination]="{ clickable: true }"
            [scrollbar]="{ draggable: true }"
        >
        <ng-template *ngFor="let item of testimonials" swiperSlide>
            <div class="swiper-slide">
                    <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        {{item.message}}
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img [src]="item.image_path" class="testimonial-img" alt="">
                    <h3>{{item.first_name}} {{item.last_name}}</h3>
                    <h4>{{item.job}}</h4>
                    </div>
                </div><!-- End testimonial item -->
        </ng-template>
        </swiper>
    </div>
    </div>

</div><!-- End Testimonials  -->
